<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="albumName">Please enter Album name</label>
                <input type="text" name="albumName" required='true' /><br />
                <label for="hashtags">Please enter hashtags seperated by spaces</label>
                <input type="text" name="hashtags" required='false' /><br />
                <input type="submit" value="Upload" />
                
            </form>
    </body>
